<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Run Election API Test">
    <classes>
      <class name="com.test.runner.Election_API_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
